.ms-Toggle {
  margin: 1.5px 0;
}

.ms-Label, .ms-Fabric, .ms-SearchBox-field {
  font-size: 12px;
}

.ms-ContextualMenu-linkContent {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}

.ms-ContextualMenu-item {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}

.ms-ContextualMenu-icon {
  font-size: 14px;
}

.ms-SearchBox {
  height: 25px;
}

.ms-SearchBox-icon, .ms-SearchBox-clearButton .ms-Icon, .ms-spinButton-input {
  font-size: 12px;
}

.ms-SearchBox-clearButton {
  width: 20px;
  height: 22px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms-Button {
  padding: 5px 5px;
  height: 25px;
  font-size: 12px;
  min-width: 0px;
}

.ms-Icon {
  font-size: 14px;
}

.ms-TextField-fieldGroup {
  height: 25px;
}

.ms-TextField-field {
  font-size: 12px;
}

.ms-TextField-errorMessage {
  font-size: 12px;
  padding-top: 0px;
}

.ms-Toggle-background {
  width: 28px;
  height: 15px;
}

button.ms-Toggle-background {
  padding: 0px 1px;
}

.ms-Toggle-background:after {
  line-height: 20px;
}

.ms-TextField-reveal {
  margin: 0;
  height: 100%;
  width: 40px;
}

.ms-Breadcrumb {
  display: flex;
}

.ms-Breadcrumb-itemLink, .ms-Breadcrumb-item {
  font-size: 14px;
  padding: 4px 6px;
  height: auto;
  line-height: 1;
}

.ms-Dropdown-container .ms-Dropdown, .ms-ComboBox-container .ms-ComboBox, .spinButtonWrapper-100, .spinButtonWrapper-189 {
  height: 25px;
  line-height: 25px;
}

.arrowButtonsContainer-102 .ms-Button {
  height: 12px;
  margin: 0;
}

.arrowButtonsContainer-102 .ms-Icon {
  font-size: 10px;
}

.ms-Dropdown-optionText {
  font-size: 12px;
}

.ms-Checkbox-checkbox {
  width: 15px;
  height: 15px;
}

.ms-Checkbox-text {
  font-size: 12px;
  line-height: 12px;
}

.ms-ComboBox-container .ms-ComboBox-Input {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}

.ms-Dropdown-container .ms-Dropdown-title {
  font-size: 12px;
}

.ms-Dropdown-label {
  font-size: 12px;
}

.ms-ComboBox-option {
    height: 25px;
    min-height: 25px;
    line-height: 25px;
    margin: 0;
}

.ms-ComboBox .ms-Button.ms-ComboBox-CaretDown-button {
    height: 25px;
    margin-top: 0;
}

.ms-Dropdown-caretDownWrapper {
  height: 25px;
  display: flex;
  align-items: center;
}

.ms-Dropdown-title {
  height: 25px;
  min-height: 25px;
  line-height: 21px;
}

.ms-Dropdown-item .ms-Button-flexContainer {
  align-items: center;
  height: 100%;
}

.ms-Dropdown-items .ms-Dropdown-item {
  height: 25px;
  min-height: 25px;
  line-height: 25px;
  margin: 0;
}

.ms-BasePicker-text {
  min-height: 25px;
}

.ms-BasePicker-text input {
  font-size: 12px;
  height: 20px;
  align-self: auto;
}

.ms-Facepile .ms-Persona-initials {
  font-size: 11px;
  height: 22px;
  width: 22px;
  line-height: 22px;
  margin: 11px 0px;
}

.ms-Persona-primaryText {
  font-size: 11px;
}

.ms-PickerPersona-container {
  height: 18px;
  margin: 2px;
}

.ms-PickerItem-content .ms-Persona .ms-Persona-coin .ms-Persona-imageArea,
.ms-PeoplePicker-personaContent .ms-Persona .ms-Persona-coin .ms-Persona-imageArea {
  width: 18px;
  height: 18px;
}

.ms-Facepile-itemButton .ms-Persona .ms-Persona-coin .ms-Persona-imageArea {
  width: 24px;
}

.ms-PeoplePicker-personaContent .ms-Persona .ms-Persona-coin {
  height: 18px;
}

.ms-PeoplePicker-personaContent .ms-Persona .ms-Persona-coin .ms-Persona-imageArea .ms-Persona-initials,
.ms-PickerItem-content .ms-Persona .ms-Persona-coin .ms-Persona-imageArea .ms-Persona-initials {
  height: 18px;
  line-height: 18px;
  font-size: 9px;
}

.ms-Suggestions-item {
  height: 36px;
}

.ms-Suggestions-item button {
  height: 36px;
}

.ms-Persona-details .ms-Persona-primaryText .ms-TooltipHost {
  font-size: 11px;
}

.ms-Persona-details .ms-Persona-primaryText {
  height: 16px;
}

.ms-ContextualMenu-link {
  background-color: white;
  font-size: 12px;
  height: 25px;
}

.ms-ContextualMenu-link:hover {
  background-color: #ECEBE9;
  color: #61AEF9;
}

.ms-Pivot .ms-Button {
  height: 30px;
  padding: 10px;
}

.ms-MessageBar {
  height: 25px;
  min-height: 0;
  display: flex;
  justify-content: center;
}

.ms-MessageBar-icon {
  font-size: 12px;
  margin-top: 10px;
}

.ms-MessageBar-innerText {
  font-size: 12px;
}

.small_icon_button .ms-Button-icon {
  font-size: 12px;
  color: black;;
}

.small_icon_button .ms-Button {
  width: 24px;
  height: 24px
}

.ms-ChoiceField-field::before {
  transform: scale(0.7);
}

.ms-ChoiceField-field.is-checked::after {
  width: 8px;
  height: 8px;
  left: 6px;
  top: 6px;
  border-width: 4px;
  border-color: rgb(0, 120, 212);
}

.ms-ChoiceFieldLabel {
  font-size: 12px;
  font-weight: 600;
  padding-top: 1px;
}

.ms-ChoiceFieldGroup .ms-Label {
  padding: 0;
}