/* --------------- */
/* GLOBAL          */
/* --------------- */

body, html {
  font-size: 12px;
  background-color: white;
  margin: 0;
  height: 100%;
}

.page_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main_container {
  display: flex;
  height: calc(100% - 80px);
}

/*a, a:visited {
  color:#000000;
}

a:hover {
  color: #129AFD;
}*/

a.no-hover-effect {
  color: black;
  text-decoration: none;
}

a.no-hover-effect:hover {
  color: black;
}

/* --------------- */
/* HEADER          */
/* --------------- */

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  height: 40px;
}

.logo {
  margin: 10px 8px 0px 0px;
  cursor: pointer;
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  z-index: 250;
}

.header_left_bar {
  display: flex;
  z-index: 200;
}

.header_command_bar {
  margin-left: 193px;
  transition: margin-left 0.3s ease-in-out;
  z-index: 200;
}

.header_command_bar .ms-CommandBar {
  padding: 0;
  background-color: transparent;
}

.header_command_bar .ms-Button--commandBar {
  height: 40px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_command_bar .ms-Button--commandBar .ms-Button-menuIcon {
  display: none;
}

.header_command_bar .ms-Button--commandBar .ms-Icon {
  font-size: 15px;
  color: gray;
}

.header_command_bar .ms-Button--commandBar:hover .ms-Icon {
  font-size: 15px;
  color: rgb(0, 120, 212);
}

.message_bars {
  overflow-y: scroll; 
  width: 100%;
  position: fixed; 
  z-index: 100;
}

.message_bar_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  z-index: 1;
}

.message_bar_close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

/* --------------- */
/* SIDENAV         */
/* --------------- */

.sidenav {
  position: relative;
  width: 200px;
  min-width: 200px;
  padding: 10px 20px 0px 20px;
  overflow-y: auto;
  border-right: solid 1px #ccc;
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out, padding 0.3s ease-in-out;
  z-index: 100;
}

.button_sidenav {
  transition: left 0.3s ease-in-out, border 0.3s ease-in-out;
  position: fixed;
  top: 50%;
  cursor: pointer;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.button_hide_sidenav {
  border-right: 13px solid #D8D8D8;
  left: 227px;
}

.button_hide_sidenav:hover {
  border-right: 13px solid #BDBDBD;
}

.button_show_sidenav {
  border-left: 13px solid #D8D8D8;
  left: 40px;
}

.button_show_sidenav:hover {
  border-left: 13px solid #BDBDBD;
}

.reduced_sidenav_buttons .ms-Button, .reduced_sidenav_buttons_11 .ms-Button {
  width: 40px;
  height: 30px;
  margin: 0;
}

.reduced_sidenav_buttons_11 .ms-Icon {
  font-size: 11px;
}

/* --------------- */
/* MAIN            */
/* --------------- */

.main {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0px 10px 0px 18px;
}

/* --------------- */
/* FOOTER          */
/* --------------- */

.footer {
  width: 100%;
  border-top: solid 1px #ccc;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 10px 20px 10px 15px;
}

/* --------------- */
/* MODALS          */
/* --------------- */

.delete_modal, .create_element_modal, .load_status_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index:10;
  left: 0;
  top: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 500;
}

.delete_modal_content, .create_tab_modal_content, .create_widget_modal_content, .load_status_modal_content, .create_plugin_modal_content, .create_project_modal_content, .create_dataset_modal_content, .create_subset_modal_content {
  background: #fff;
  padding: 5px 10px 10px 15px;
  position: relative;
}

.delete_modal_content {
  width: 400px;
  height: 100px;
}

.delete_modal_content h1, .create_element_modal h1, .load_status_modal h1 {
  font-size: 14px;
}

.delete_modal_content p {
  font-size: 12px;
}

.delete_modal_buttons, .create_element_modal_buttons {
  position: absolute;
  right: 10px;
  bottom: 3px;
  display: flex;
  gap: 5px;
}

.create_tab_modal_content {
  width: 600px;
  padding-bottom: 30px;
}

.create_widget_modal_content {
  width: 1200px;
  padding-bottom: 50px;
}

.create_element_modal_head {
  display: flex;
  justify-content: space-between;
}

.create_element_modal_body {
  font-size: 12px;
  height: calc(100% - 70px);
  overflow-y: auto;
}

.load_status_modal_content {
  width: 600px;
  min-height: 200px;
}

.create_plugin_modal_content {
  width: 500px;
  padding-bottom: 30px;
}

.create_project_modal_content, .create_dataset_modal_content, .create_subset_modal_content {
  width: 400px;
  padding-bottom: 30px;
}

/* ---------------- */
/* FIGURES          */
/* ---------------- */

.dygraph-label, .dygraph-axis-label {
  font-size: 12px !important;
}
.dygraph-legend {
  font-size: 12px !important;
}

/* ------------- */
/* TABS          */
/* ------------- */

.edit_tab_button {
  width: 20px;
  margin: auto;
}

.edit_tab_button .ms-Button-icon {
  font-size: 12px;
  color: black;;
}

.edit_tab_button .ms-Button-icon:hover {
  color: #61AEF9;
}

.edit_tab_button .ms-Icon {
  font-size: 12px;
  color: black;;
}

.edit_tab_button .ms-Button {
  margin: 0 0 0 2px;
  width: 24px;
  height: 20px;
}

/* ---------------- */
/* WIDGETS          */
/* ---------------- */

.plugin_code_widget, .grid-stack-item-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  font-size: 12px;
  z-index: 10;
}

.plugin_code_widget {
  max-width: calc(100% - 20px);
  margin: 10px 0 0 5px;
}

.data_widget {
  padding: 0px 10px 5px 10px;
}

.project_widget h1, .plugin_widget h1, .dataset_widget h1, .subset_widget h1 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
}

.project_widget, .plugin_widget, .dataset_widget, .subset_widget {
  width: 300px;
  height: 150px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 2px 10px 2px 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.data_widget_buttons {
  position: absolute;
  top: 0px;
  right: 7px;
}

.plugin_widget_labels {
  display: flex;
}

.plugin_widget_bottom {
  display: flex;
  justify-content: space-between;
}

.widget {
  font-size: 12px;
  position: relative;
  margin: 10px;
  padding: 0px 10px 5px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.widget h1 {
  font-size: 14px;
}

/* ---------------- */
/* BUTTONS          */
/* ---------------- */

.delete_button .ms-Button {
  background-color: #f44336;
  border: #f44336;
}

.delete_button .ms-Button:hover {
  background-color: #cd2d22;
  border: #cd2d22;
}

.pivot {
  display: flex;
}

.pivot_item {
  font-size: 12px;
  height: 30px;
  padding: 10px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
}

.pivot_item:hover {
  background-color: #F3F2F1;
  cursor: pointer;
}

.selected_pivot_item {
  font-weight: 600;
  box-shadow: 0 2px 0 0 rgb(0, 120, 212);
}

.small_icon_button .ms-Button-icon {
  font-size: 12px;
  color: black;;
}

.small_icon_button .ms-Button {
  width: 24px;
  height: 24px
}

.small_icon_button .ms-Button:hover .ms-Button-icon {
  color: #61AEF9;
}

.small_close_button .ms-Button-icon {
  font-size: 10px;
  color: black;;
}

.small_close_button .ms-Button {
  width: 20px;
  height: 20px
}

/* ------------------- */
/* TEXTFIELDS          */
/* ------------------- */

.small_textfield {
  width: 120px;
}

.small_textfield .ms-TextField-fieldGroup {
  height: 20px;
}

.small_textfield .ms-TextField-field {
  font-size: 12px;
}

.small_textfield .ms-TextField-errorMessage {
  font-size: 12px;
  padding-top: 0px;
}

/* ------------------- */
/* OTHER INPUTS        */
/* ------------------- */

.input_title_first {
  margin: 0px 0px 10px 0px;
  font-weight: bold;
}

.input_title {
  font-weight: 600;
  font-size: 12px;
}

.toggle_title {
  font-size: 12px;
  font-weight: bold; 
  margin-right: 30px;
}

.inline_choicegroup .ms-ChoiceField {
  display: inline-block;
  padding: 0px 20px 0px 0px;
  font-weight: bold;
}

.block_choicegroup .ms-ChoiceField {
  font-weight: bold;
}

/* --------------------- */
/* HOME PAGE             */
/* --------------------- */

.home_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.home_row {
  display: flex;
  flex: 1;
}

.home_widget {
  position: relative;
  display: flex;
  flex: 1;
  margin: 10px;
  padding: 0px 10px 5px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.home_widget h1 {
  font-size: 14px;
}

.home_widget_button {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

/* --------------------- */
/* PLUGINS PAGE          */
/* --------------------- */

.plugins_summary_container {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 50px);
}

.plugins_summary_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.plugins_summary_right {
  width: 50%;
  calc(100% - 16px)
}

/* ---------------------- */
/* PROJECTS PAGE          */
/* ---------------------- */

.projects_summary_container {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 50px);
}

.projects_summary_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.projects_summary_right {
  width: 50%;
  calc(100% - 16px)
}

/* --------------------- */
/* SUBSETS PAGE          */
/* --------------------- */

.subsets_summary_container {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 50px);
}

.subsets_summary_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.subsets_summary_right {
  width: 50%;
  calc(100% - 16px)
}


/* ---------------------- */
/* DATASETS PAGE          */
/* ---------------------- */

.datasets_summary_container {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 50px);
}

.datasets_summary_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.datasets_summary_right {
  width: 50%;
  calc(100% - 16px)
}

/* ------------------- */
/* DATATABLES          */
/* ------------------- */

.form-control {
  font-size: 12px;
}

/* Search column in datatable, with type is factor */
td[data-type="factor"] input {
  width: 200px !important;
}

.datatable_link {
  font-weight: bold;
  color: #0078D4;
  text-decoration: none;
}

.datatable_link:hover {
  text-decoration: underline;
  color: #0062AD;
}

.datatable_link:visited {
  color: #0078D4;
}

.vocabulary_table table tbody td {
  height:15px;
  white-space: nowrap;
}

.vocabulary_table table tbody td div{
  height:18px;
  word-wrap:break-word;
  position:relative;
  top:-4px;
}

.datatable_length {
  float: right;
  margin-left: 10px;
}

/* ------------------- */
/* FILES BROWSER       */
/* ------------------- */

.current_page {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 0 10px;
}

.btn {
  font-size: 10px;
  height: 20px;
}

.sidenav_top {
  display: flex;
  height: 25px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
}

.active-file {
  margin: 10px;
}

.directories-browser {
  margin-top: 10px;
  padding-bottom: 5px;
  display: flex;
  font-size: 12px;
  overflow-y: auto;
  border-bottom: solid 1px #ccc;
}

.directory-sep {
  padding: 3px 0px;
}

.files-browser {
  margin-top: 10px;
  max-height: 100%;
  overflow-y: auto;
  font-size: 12px;
  padding-bottom: 8px;
}

.files-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.file-item, .directory-item {
  padding: 3px 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
}

.file-item-title {
  display: flex;
  align-items: center;
}

.file-item-icons {
  display: none;
}

.file-item:hover .file-item-icons {
  display: flex;
  align-items: center;
}

.file-item-icons .small_icon_button .ms-Button-icon:hover {
  color: #61AEF9;
}

.file-item:hover, .directory-item:hover {
  background-color: #f0f0f0; 
}

.tabs {
  display: flex;
  padding: 10px 0;
  font-size: 12px;
  overflow-x: auto;
}

.tab {
  padding: 3px 2px 3px 10px;
  background-color: #ddd;
  margin-right: 2px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.tab:hover {
  background-color: #eeeeee;
}

.tab.active {
  background-color: #eeeeee;
}

.close-tab {
  margin-left: 10px;
}

.close-tab .ms-Icon {
  font-size: 8px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

.close-tab .ms-Icon:hover {
  background-color: white;
}

/* ------------------- */
/* HOME PAGE           */
/* ------------------- */

.home_link {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
}

.home_link:hover {
  color: #000000;
  background-color: #F3F2F1;
}

.home_link:visited {
  color: #000000
}

/* ------------------- */
/* PROJECTS PAGE       */
/* ------------------- */

.project_widget_buttons {
  position: absolute;
  bottom: 0px;
  right: 5px;
  display: flex;
}

.selected_project_container, .selected_plugin_container {
  width: 195px;
  display: flex;
  justify-content: center;
  margin-left: 16px;
}

.selected_project, .selected_plugin {
  background-color: #0084D8;
  color: white;
  font-weight: 600;
  font-size: 12px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 8px 0px;
  text-align: center;
  line-height: 16px;
}

.projects_container, .plugins_container, .datasets_container, .subsets_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

/* ------------------ */
/* PLUGINS PAGE       */
/* ------------------ */

.prog_label {
  padding: 2px 7px;
  margin: 0px 2px 2px 0;
  height: 16px;
  border-radius: 15px;
  color: white;
  font-size: 11px;
  display: inline-block;
}

.python_label {
  background-color: #3572A5;
}

.r_label {
  background-color: #198CE7;
}

.fa-folder, .fa-file {
  margin-right: 5px;
  width: 15px;
  color:#505050;
}

/* --------------- */
/* DATA PAGE       */
/* --------------- */

.person_info {
  border-top: solid 1px #ccc;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 12px;
}